@font-face {
    font-family: rochester;
    src: url(./fonts/Rochester-Regular.ttf);
}

@font-face {
    font-family: noto;
    src: url(./fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: metrophobic;
    src: url(./fonts/Metrophobic-Regular.ttf);
}

@font-face {
    font-family: magical;
    src: url(./fonts/MagicalSource.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    align-items: center;
    z-index: 100;
    background-color: #FF6969;
    font-size: 1.1rem;
    padding: 0rem 1rem;
    font-family: metrophobic;
    color: aliceblue;
}

.logo {
    transform: translateX(2rem);
}

.header-buttons-div {
    width: 16rem;
    font-family: metrophobic;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.header-button {
    cursor: pointer;
    font-family: metrophobic;
    color: aliceblue;
    background-color: #FF6969;
    font-size: 1rem;
    transform: translateX(-2rem);
}

.footer-div {
    position: fixed;
    left: 0;
    bottom: 1rem;
    width: 100%;
    opacity: 50%;
    color: gray;
    text-align: center;
    font-family: metrophobic;
}

.navbar {
    left: 0;
    width: 20vw;
    background-color: #0C1844;
    opacity: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-elem {
    left: 0;
    width: 20vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    height: fit-content;
    /* transform: translateY(6rem); */
}

.navbar-elem button {
    align-items: center;
    font-family: metrophobic;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #0C1844;
    color: aliceblue;
}

.open-close {
    height: 10vh;
    cursor: pointer;
}

table {
    height: fit-content;
    width: fit-content;
    border-collapse: collapse;
    border: solid #FF6969;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-family: metrophobic;
}

tr {
    width: 10rem;
}


th {
    color: #FF6969;
    height: fit-content;
    width: fit-content;
    border-collapse: collapse;
    border: solid 0.1rem #FF6969;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-family: metrophobic;
    width: 10rem;
}

td {
    border: solid 0.1rem #ffadad;
    padding: 1rem;
    font-size: 1rem;
    font-family: metrophobic;
    width: 10rem;
}

.whole-listofusers-div {
    position: absolute;
    transform: translate(33rem, -35rem);
}

.user-title {
    color: #FF6969;
    font-size: 3rem;
    font-family: rochester;
    text-align: center;
    font-weight: 500;
}

.user-title2{
    color: #FF6969;
    font-size: 3rem;
    font-family: magical;
    text-align: center;
    font-weight: 500;
    transform: translateY(0.5rem);
}

.whole-listofusers-div-for-programs {
    position: absolute;
    transform: translate(40rem, -35rem);
}

.container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 200;
}

form {
    padding: 20px 0;
    position: relative;
}

form input {
    border: 1px solid ff6969;
    background-color: white;
    width: 250px;
    border-radius: 3px;
    font-family: metrophobic;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #0C1844;
    font-weight: 300;
    border: solid 0.1rem #ff6969;
}

form button {
    appearance: none;
    outline: 0;
    background-color: #ff6969;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    cursor: pointer;
    font-family: metrophobic;
}